.apple {
    background-image: url('../../images/education/apple.svg');
}
.books {
    background-image: url('../../images/education/books.svg');
}
.notebook {
    background-image: url('../../images/education/notebook.svg');
}
.school {
    background-image: url('../../images/education/school.svg');
}
