.icons {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.icons li {
    margin-right: 10px;
}

.icons i {
    display: block;
    width: 150px;
    height: 100px;
    background-size: 150px 100px;
    background-repeat: no-repeat;
}

.code {
    background-image: url('../../images/code.svg');
}

.tail {
    background-image: url('../../images/tail.svg');
}
