.armchairSilhouette {
    background-image: url('../../images/glypho/armchairSilhouette.svg');
}
.facebook {
    background-image: url('../../images/glypho/facebook.svg');
}
.flaskOutline {
    background-image: url('../../images/glypho/flaskOutline.svg');
}
.heartRateMonitor {
    background-image: url('../../images/glypho/heartRateMonitor.svg');
}
.houseOutline {
    background-image: url('../../images/glypho/houseOutline.svg');
}
.layersIcon {
    background-image: url('../../images/glypho/layersIcon.svg');
}
.oldFashionBriefcase {
    background-image: url('../../images/glypho/oldFashionBriefcase.svg');
}
.quaverOutline {
    background-image: url('../../images/glypho/quaverOutline.svg');
}
.speechBubblesOutline {
    background-image: url('../../images/glypho/speechBubblesOutline.svg');
}
.switchesOnAndOff {
    background-image: url('../../images/glypho/switchesOnAndOff.svg');
}
.videoPlayerOutline {
    background-image: url('../../images/glypho/videoPlayerOutline.svg');
}
